name: deploy docs

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
         contents: write
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.9
      - name: Install Pandoc 
        run: |
            sudo apt-get install -y pandoc
      - name: Install dependencies
        run: |
          python -m pip install -U sphinx
          python -m pip install -U nbsphinx
          python -m pip install -U pandoc
          python -m pip install furo myst-parser
          python -m pip install -r docs/requirements.txt
      - name: Clear cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/pip
            ./docs/_build
          key: ${{ runner.os }}-docs-${{ hashFiles('docs/requirements.txt') }}          
      - name: Make docs
        run: |
          cd docs/
          make html
      - name: run ghp-import
        run: |
          python -m pip install ghp-import
          ghp-import -n -p -f ./docs/_build/html
        env:
          GH_PAT: ${{ secrets.GH_PAT }}
